@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    background: #F7F6E9;
    font-family: 'Noto Sans', sans-serif;
    color: #235940 !important;
}

.bg-img-1 {
    background-image: url(../img/bg/bg-1.svg) !important;
    background-position: 50%;
    background-size: cover;
}

.bg-img-3 {
    background-position: bottom !important;
}

.bg-dark-yellow {
    background-color: #FFA401;
}

.social-icon {
    filter: invert(60%);
}

/* Components */
.separator {
  border-left: 1px solid #ccc;
  opacity: 30%;
}

