@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maragsa&display=swap');

@font-face {
    font-family: 'Maragsa';
    src: url('../fonts/Maragsa/Maragsa-Display.woff2') format('woff2'),
        url('../fonts/Maragsa/Maragsa-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #F7F6E9;
    font-family: 'Noto Sans', sans-serif;
    color: #235940 !important;
}

.bg-img-1 {
    background-image: url(../img/bg/bg-1.svg) !important;
    background-position: 50%;
    background-size: cover;
}

.bg-img-3 {
    background-image: url(../img/bg/bg-3.svg) !important;
    background-position: 50%;
    background-size: cover;
}

.bg-img-home {
    background-image: url(../img/bg/bg-home.svg) !important;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: -20px;
}

.bg-bamboo {
    background-image: url(../img/bg/bg-bamboo.png) !important;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-bamboo-1 {
    background-image: url(../img/bg/bamboo-background-mask.png) !important;
    background-color: #3D521E;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-bamboo-2 {
    background-image: url(../img/bg/bamboo-background-mask-1.png) !important;
    background-color: #FFA602;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Components */

.separator {
    border-left: 1px text-4xl font-bold text-gray-900 solid #ccc;
    opacity: 30%;
}

.social-icon {
    filter: invert(60%);
}

.pycon-header {
    font-family: 'Maragsa', sans-serif;
}

.pycon-subheader {
    font-family: Noto Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.58px;
    text-align: center;
}

.bamboo-divider {
    background-image: url(../img/bg/bamboo-divider.svg) !important;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
}

@media (max-width: 768px) {
    .pycon-subheader {
        font-size: 20px;
        line-height: unset;
    }
}

.promotional-banner {
    background: linear-gradient(90deg, #329969 39.18%, #2C875D 100%);
    font-size: 16px;
}

.border-bamboo {
    border-color: #a66f3f;
    /* Bamboo-like color */
    border-style: double;
    border-width: 4px;
}

.content-title {
    font-family: 'Maragsa', sans-serif;
}

.sponsor-type {
    font-family: Noto Sans;
    font-size: 18px;
    font-style: italic;
    line-height: 100px;
    border-right: 1px;
    border-style: solid;
    border-color: #d9d8c5;
}

/* What to expect section */
.yellow-python {
    bottom: 0;
    right: 0;
}


.what-to-expect {
    width: 990px;
    height: 469px;
}

@media screen and (max-width: 768px) {
    .sponsor-type {
        border-right: 0px;
    }
}

/* Venue section */
.event-venue-box {
    color: white;
}

.event-venue-box .pycon-header {
    line-height: 1.2;
}

.venue-subheader {
    font-family: Noto Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
}

.btn {
    background-color: #FFA602;
    border-radius: 50px;
    display: grid;
    align-items: center;
}

/*
A better version of the "Get ticket" button on the home page with the hover effect
*/
.btn-action.custom-btn {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.300rem;
    line-height: 1.75rem;
    font-weight: 1000;
}

.btn-action:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

/* Container for the slider */
.splide {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.splide__list .text-32 {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.24px;
    text-align: left;
}

/* Track for horizontal scrolling */
.splide__track {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: auto;
    scrollbar-color: #888 #f1f1f1;
}

/* Slides List */
.splide__list {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Individual Slide */
.splide__slide {
    text-align: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.splide__slide img {
    width: 100%;
    height: auto;
    display: block;
    border: 4px solid black;
    box-shadow: 0 0 0 8px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.splide__slide img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 8px #FFA602;
}

.splide__slide p {
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
    margin: 10px 0;
}

.splide__slide .text-24 {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    max-width: 100%;
}

.splide__track::-webkit-scrollbar {
    height: 10px;
}

.splide__track::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.splide__track::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.splide__track::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Container styling */
.grid-container {
    display: grid;
    /* Use CSS Grid for layout */
    grid-template-columns: repeat(5, 1fr);
    /* 5 speakers per row */
    gap: 20px;
    /* Space between grid items */
    padding: 20px;
    /* Optional padding */
    list-style: none;
    /* Remove default list styling */
    margin: 0;
}

/* Each speaker slide */
.grid-item {
    display: flex;
    flex-direction: column;
    text-align: left;

    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        /* 3 speakers per row on medium screens */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 speakers per row on small screens */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 1 speaker per row on extra small screens */
    }
}
