@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maragsa&display=swap');

@font-face {
    font-family: 'Maragsa';
    src: url('../fonts/Maragsa/Maragsa-Display.woff2') format('woff2'),
         url('../fonts/Maragsa/Maragsa-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #F7F6E9;
    font-family: 'Noto Sans', sans-serif;
    color: #235940 !important;
}

.bg-img-1 {
    background-image: url(../img/bg/bg-1.svg) !important;
    background-position: 50%;
    background-size: cover;
}

.bg-img-3 {
    background-image: url(../img/bg/bg-3.svg) !important;
    background-position: 50%;
    background-size: cover;
}

.bg-img-home {
    background-image: url(../img/bg/bg-home.svg) !important;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat:
}

/* Components */

.separator {
  border-left: 1px text-4xl font-bold text-gray-900 solid #ccc;
  opacity: 30%;
}

.social-icon {
    filter: invert(60%);
}

.pycon-header {
    font-family: 'Maragsa', sans-serif;
}

.pycon-subheader {
    font-family: Noto Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.58px;
    text-align: center;
}

@media (max-width: 768px) {
    .pycon-subheader {
        font-size: 20px;
        line-height: unset;
    }
}

.promotional-banner {
    background: linear-gradient(90deg, #329969 39.18%, #2C875D 100%);
    font-size: 16px;
}

.border-bamboo {
    border-color: #a66f3f; /* Bamboo-like color */
    border-style: double;
    border-width: 4px;
}

.content-title {
  font-family: 'Maragsa', sans-serif;
}
