{% load static %}

<div class="max-w-3xl text-center mx-auto">
  <img class="mx-auto" src="{% static 'img/leaf.svg' %}"/>
  <h2 class="pycon-header text-5xl md:text-7xl my-4">What is PyCon APAC?</h1>
  <h2 class="pycon-subheader mx-auto my-6">
    PyCon APAC is the regional counterpart of PyCon in the Asia-Pacific region
  </h2>
  <div class="md:text-left">
    <p>
      It brings together Python developers, enthusiasts, and industry leaders
      from across APAC for a unique conference experience. Hosted annually in
      one of the participating countries, <a class="underline" href="https://pycon.asia/">PyCon APAC</a> 
      serves as a key platform for fostering collaboration, learning, and innovation. <br/><br/>
    </p>
    <p>
      Past host countries include <strong>Singapore, Japan, Taiwan, South Korea, Malaysia,
      Philippines, Thailand, and Indonesia.</strong> This year, we are excited to host
      PyCon APAC 2025 in the Philippines, following the success of
      <a class="underline" href="https://pycon-2024.python.ph">PyCon PH 2024</a>.<br/><br/>
    </p>
    <p>
      Building on the foundation of <a class="underline" href="https://www.facebook.com/pyconph">PyCon PH</a>,
      the largest gathering of Python Developers in the Philippines. PyCon APAC 2025
      expands our reach to an international audience. It creates opportunities for
      deeper collaboration and knowledge sharing across diverse cultures and industries
      throughout the Asia-Pacific region.
    </p>
  </div>
</div>

<div class="max-w-full mx-auto bg-img-home min-h-[800px] mt-12">
</div>

<div class="bamboo-divider max-w-full h-10 mb-[-4px]"></div>
