{% load static %}


<!-- Why Python? -->
<div class="bg-[#fffbef] w-full">
    
    <div class="container mx-auto px-4 py-20 relative">
        <img class="w-[150px] h-auto absolute top-10 -left-40 -z-0 " src="{% static 'img/beigeleaf.png' %}"/>
        
        <div class="flex  flex-col md:flex-row items-start gap-8 relative z-10">

            <div class="w-full md:w-1/2 text-[#301F0E]">
                <h2 class="text-6xl content-title font-normal text-left mb-8">Why Python?</h2>

                <p class="text-lg mb-8 text-[#333333]">
                   We truly believe and support the impact and innovation that Python has brought in the whole technology industry as it continues to power systems, products, and services of companies such as Google, Facebook, Spotify, Netflix, AirBnB, Quora, Amazon, Industrial Light and Magic, NASA, Disney, Instagram, Dropbox, Disqus, Reddit and Bitbucket.
                </p>
                <p class="text-lg text-[#333333]">
              Python is also used as a business solution for Web Development, Automation, Monitoring, Artificial Intelligence, Data Science, Cloud Computing, and more.
                </p>
            </div>

            <div class="w-full  mt-10 md:w-1/2 flex justify-center overflow-x-hidden">
                <div class="max-w-full">
                    <table class="w-full text-[#3D521E] text-sm font-normal">
                        <tbody>
                            <!-- Row 1 -->
                            <tr class="border-b border-[#3D521E] border-opacity-20">
                                <td class="p-4 md:p-6 text-center">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/data.svg' %}" alt="Data Analysis" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Data Analysis</h3>
                                </td>
                                <td class="p-4 md:p-6 text-center border-r border-l border-[#3D521E] border-opacity-20">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/artificial.svg' %}" alt="AI/Machine Learning" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">AI/Machine Learning</h3>
                                </td>
                                <td class="p-4 md:p-6 text-center">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/automation.svg' %}" alt="Automation" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Automation</h3>
                                </td>
                            </tr>

                            <!-- Row 2 -->
                            <tr class="border-b border-[#3D521E] border-opacity-20">
                                <td class="p-4 md:p-6 text-center">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/cloud-computing.svg' %}" alt="Cloud Computing" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Cloud Computing</h3>
                                </td>
                                <td class="p-4 md:p-6 text-center border-r border-l border-[#3D521E] border-opacity-20">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/web.svg' %}" alt="Web Apps" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Web Apps</h3>
                                </td>
                                <td class="p-4 md:p-6 text-center">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/mobile.svg' %}" alt="Mobile Apps" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Mobile Apps</h3>
                                </td>
                            </tr>

                            <!-- Row 3 -->
                            <tr>
                                <td class="p-4 md:p-6 text-center">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/workstation.svg' %}" alt="Desktop Apps" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Desktop Apps</h3>
                                </td>
                                <td class="p-4 md:p-6 text-center border-r border-l border-[#3D521E] border-opacity-20">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/laptop.svg' %}" alt="Software Testing" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Software Testing</h3>
                                </td>
                                <td class="p-4 md:p-6 text-center">
                                    <div class="w-8 h-8 md:w-10 md:h-10 mx-auto mb-4">
                                        <img src="{% static 'img/why-python-icons/cyber-sec.svg' %}" alt="Cyber Security" class="w-full h-full">
                                    </div>
                                    <h3 class="text-sm font-normal">Cyber Security</h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- What is PyCon -->
<div class="bg-[#fffbef] w-full">
<div class="container mx-auto px-4 py-16 relative overflow-x-hidden">
    <img class="w-[100px] md:w-[150px] h-auto absolute top-10 -right-8 md:-right-24 -z-0 opacity-50 md:opacity-100 " src="{% static 'img/beigeleaf-2.png' %}"/>
    <div class="text-center mb-16">
        <h2 class="text-6xl content-title font-bold mb-8 text-[#301F0E]">What is PyCon?</h2>
        <p class="text-2xl italic text-[#301F0E] mb-8">Magic happens when people come together to achieve common goals.</p>
        <p class="text-lg text-[#333333]">Magic happens when people come together to achieve common goals.</p>
    </div>

    <div class="hidden md:block w-full">
        <table class="w-full border-collapse table-auto z-10 ">
           
            <tr>
                <td class="p-6 border-[#3D521E] border-opacity-20" ></td>
                <td class="p-6 border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
            <tr>
                <td class="p-6 border-t border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20">
                    <h3 class="text-4xl font-bold mb-6 text-[#FF9500] content-title">Call for Sponsors</h3>
                    <div class="text-[#333333]">
                        <p class="mb-2">Submission deadline:</p>
                        <p>January 31, 2024</p>
                    </div>
                </td>
                <td class="p-6 border-t border-l  border-[#3D521E] border-opacity-20">
                    <h3 class="text-4xl font-bold mb-6 text-[#3D521E] content-title">Call for Volunteers</h3>
                    <div class="text-[#333333]">
                        <p class="mb-2">Submission Deadline:</p>
                        <p>January 31, 2024</p>
                    </div>
                </td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20">
                    <h3 class="text-4xl font-bold mb-6 text-[#3D521E] content-title">Individual Sponsors</h3>
                    <div class="text-[#333333]">
                        <p class="mb-4">Individuals can also sponsor as patrons for any amount.</p>
                        <p>Look for "Individual Patron Sponsorship" at our <a href="#" class="underline">ticketing page</a></p>
                    </div>
                </td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
            <tr>
                <td class="p-6 border-t border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
        </table>
    </div>

    <!-- Mobile version -->
    <div class="md:hidden w-full">
        <table class="w-full border-collapse table-fixed">
            <colgroup>
                <col class="w-[50px]">
                <col>
                <col class="w-[50px]">
            </colgroup>
            <tr>
                <td class="p-6 border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
            <tr>
                <td class="p-6 border-t border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20">
                    <h3 class="text-3xl font-bold mb-6 text-[#FF9500] content-title">Call for Sponsors</h3>
                    <div class="text-[#333333]">
                        <p class="mb-2">Submission deadline:</p>
                        <p>January 31, 2024</p>
                    </div>
                </td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
            <tr>
                <td class="p-6 border-t border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20">
                    <h3 class="text-3xl font-bold mb-6 text-[#3D521E] content-title">Call for Volunteers</h3>
                    <div class="text-[#333333]">
                        <p class="mb-2">Submission Deadline:</p>
                        <p>January 31, 2024</p>
                    </div>
                </td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
            <tr>
                <td class="p-6 border-t border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20">
                    <h3 class="text-3xl font-bold mb-6 text-[#3D521E] content-title">Individual Sponsors</h3>
                    <div class="text-[#333333]">
                        <p class="mb-4">Individuals can also sponsor as patrons for any amount.</p>
                        <p>Look for "Individual Patron Sponsorship" at our <a href="#" class="underline">ticketing page</a></p>
                    </div>
                </td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
            <tr>
                <td class="p-6 border-t border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
                <td class="p-6 border-t border-l border-[#3D521E] border-opacity-20"></td>
            </tr>
        </table>
    </div>
</div>
</div>

<div class="bamboo-divider max-w-full h-10"></div>