{% load static %}

<div class="bg-[#fffbef] w-full">
    <div class="container mx-auto px-4 py-16 relative">
        <img class="w-[150px] h-auto absolute top-0 left-0 -z-10 object-cover" src="{% static 'img/beigeleaf.png' %}"/>
        
        <div class="flex  flex-col md:flex-row items-start gap-8 relative z-10">

            <div class="w-full md:w-1/2 text-[#301F0E]">
                <h2 class="text-6xl content-title font-bold text-left mb-8">Why Python?</h2>

                <p class="text-lg mb-8 text-[#333333]">
                    We truly believe and support the impact and innovation that Python has brought in the whole 
                    technology industry as it continues to power systems, products, and services of companies 
                    such as Google, Facebook, Spotify, Netflix, AirBnB, Quora, Amazon, Industrial Light and Magic, 
                    NASA, Disney, Instagram, Dropbox, Disqus, Reddit and Bitbucket.
                </p>
                <p class="text-lg text-[#333333]">
                    Python is also used as a business solution for Web Development, Automation, Monitoring, 
                    Artificial Intelligence, Data Science, Cloud Computing, and more.
                </p>
            </div>

            <div class="w-full md:w-1/2 overflow-x-auto">
                <table class="w-full text-[#3D521E] text-sm font-normal">
                    <tbody>
                        <!-- Row 1 -->
                        <tr class="border-b border-[#3D521E]">
                            <td class="p-6 text-center">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/data.svg' %}" alt="Data Analysis" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Data Analysis</h3>
                            </td>
                            <td class="p-6 text-center border-r border-l border-[#3D521E]">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/artificial.svg' %}" alt="AI/Machine Learning" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">AI/Machine Learning</h3>
                            </td>
                            <td class="p-6 text-center">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/automation.svg' %}" alt="Automation" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Automation</h3>
                            </td>
                        </tr>

                        <!-- Row 2 -->
                        <tr class="border-b border-[#3D521E]">
                            <td class="p-6 text-center">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/cloud-computing.svg' %}" alt="Cloud Computing" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Cloud Computing</h3>
                            </td>
                            <td class="p-6 text-center border-r border-l border-[#3D521E]">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/web.svg' %}" alt="Web Apps" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Web Apps</h3>
                            </td>
                            <td class="p-6 text-center">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/mobile.svg' %}" alt="Mobile Apps" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Mobile Apps</h3>
                            </td>
                        </tr>

                        <!-- Row 3 -->
                        <tr>
                            <td class="p-6 text-center">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/workstation.svg' %}" alt="Desktop Apps" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Desktop Apps</h3>
                            </td>
                            <td class="p-6 text-center border-r border-l border-[#3D521E]">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/laptop.svg' %}" alt="Software Testing" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Software Testing</h3>
                            </td>
                            <td class="p-6 text-center">
                                <div class="w-10 h-10 mx-auto mb-4">
                                    <img src="{% static 'img/why-python-icons/cyber-sec.svg' %}" alt="Cyber Security" class="w-full h-full">
                                </div>
                                <h3 class="text-sm font-normal">Cyber Security</h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="bamboo-divider max-w-full h-10"></div>