{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}{% endblock %}
{% block content %}

<main class="">
    <div
        class="relative w-full min-h-1570 bg-img-1 z-0 p-25 flex justify-center items-start"
    >
        <div class="max-w-325 md:max-w-975 pt-70">
            <div
                class="logo-shadow flex flex-col items-center max-w-590 block mx-auto"
            >
                <img
                    src="{% static 'img/apac-2025.svg' %}"
                    alt="Pycon PH 2024"
                    class="w-290 md:w-full mb-25 md:mb-36"
                />
            </div>
            <div
                class="flex flex-vertical justify-center gap-15 md:gap-25 mb-36 pt-10"
            >
                <div class="text-24 text-center mb-10">
                    1-2 March 2025
                </div>
                <div class="text-24 text-center mb-10">
                  Ateneo de Manila University, Quezon City, Philippines
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center gap-20 mb-30">
                {% if page.ticket_link %}
                <a
                    href="{{ page.ticket_link }}"
                    class="no-underline bg-yellow-1 hover:bg-yellow-3 border-yellow-2 font-medium text-blue text-24 text-center w-280 py-17 rounded-full btn-shadow block mx-auto"
                >
                    Get Tickets
                </a>
                {% endif %}
                {% if page.cfp_link %}
                <a
                    href="{{ page.cfp_link }}"
                    class="no-underline bg-yellow-1 hover:bg-yellow-3 border-yellow-2 font-medium text-blue text-24 text-center w-280 py-17 rounded-full btn-shadow block mx-auto"
                >
                    Become a Speaker
                </a>
                {% endif %}
                {% if not page.cfp_link or not page.ticket_link %}
                    {% if page.sponsor_link %}
                    <a
                        href="{{ page.sponsor_link }}"
                        class="no-underline bg-yellow-1 hover:bg-yellow-3 border-yellow-2 font-medium text-blue text-24 text-center w-280 py-17 rounded-full btn-shadow block mx-auto"
                    >
                        Become a Sponsor
                    </a>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>

    {% if page.keynote_speakers %}
        {% include "home/_keynotes.html" %}
    {% endif %}

    {% if page.speakers %}
        {% include "home/_speakers.html" %}
    {% endif %}

</main>

{% endblock content %}
