{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}{% endblock %}
{% block content %}

<main class="">
    <div class="w-full bg-img-1 flex justify-center items-start min-h-svh md:min-h-[1570px]">
        <div class="pt-[70px]">
            <div class="logo-shadow flex flex-col items-center max-w-590 block mx-auto">
                <img
                    src="{% static 'img/apac-2025.svg' %}"
                    alt="Pycon PH 2025"
                    class="w-1/2"
                />
            </div>
            <div class="flex flex-col md:flex-row justify-center my-8 text-center font-medium text-normal text-base sm:text-xl">
                <div class="">
                    1-2 March 2025
                </div>
                <div class="separator mx-4"></div>
                <div class="hidden md:block">
                  Ateneo de Manila University, Quezon City, Philippines
                </div>
                <div class="block md:hidden">
                  Ateneo de Manila University
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center gap-6">
                {% if page.ticket_link %}
                <a href="{{ page.ticket_link }}" class="btn-action">
                  Become a Volunteer
                </a>
                {% endif %}

                {% if page.cfp_link %}
                <a href="{{ page.cfp_link }}" class="btn-action">
                    Become a Speaker
                </a>
                {% endif %}
                {% if page.sponsor_link %}
                <a href="{{ page.sponsor_link }}" class="btn-action">
                    Become a Sponsor
                </a>
                {% endif %}
            </div>

        </div>
    </div>

    {% include "home/_what_is_pycon.html" %}

    {% if page.keynote_speakers %}
        {% include "home/_keynotes.html" %}
    {% endif %}

    {% if page.speakers %}
        {% include "home/_speakers.html" %}
    {% endif %}

</main>

{% endblock content %}
