{% load static %}
<div class="my-16 text-center mx-auto max-w-3xl">
    <div class="flex flex-col justify-center">
        <h2 class="pycon-header text-5xl md:text-7xl my-4">
            Code of Conduct
        </h2>
        <p class="pycon-subheader mx-auto my-4">
            PyCon PH is a community conference intended for
            collaboration in the developer community.
        </p>

        <div class="flex flex-col md:flex-row my-4 gap-8 mx-auto md:text-left">
          <p class="basis-1/2">
              We value the participation of each member of the Python
              community and want all attendees to have an enjoyable
              and fulfilling experience. Accordingly, all attendees
              are expected to show respect and courtesy to other
              attendees throughout the conference and at all
              conference events, whether officially sponsored by
              PythonPH, Inc. or not.
          </p>
          <p class="basis-1/2">
              To make clear what is expected, all delegates/attendees,
              speakers, exhibitors, organizers and volunteers at any
              PyCon event are required to conform to the following
              Code of Conduct. Organizers will enforce this code
              throughout the event.
          </p>
        </div>
        <h2 class="pycon-subheader mx-auto my-4">
            Contact Information
        </h2>
        <p class="mx-auto">
            If you believe that someone is violating the code of conduct, or have any other concerns, please contact
            a member of the PyCon APAC 2025 Code of Conduct workgroup immediately. They can be reached by emailing
            <a href="mailto:coc@python.ph" class="underline">coc@python.ph</a>
        </p>
        <h2 class="pycon-subheader mx-auto my-4">License</h2>
        <p class="mx-auto w-2/3 md:w-full">
            This Code of Conduct is based on the PyCon US 2015 CoC,
            and is licensed under a Creative Commons
        <p>
          Attribution 3.0 Unported License.
        </p>
    </div>
</div>

<footer class="mx-auto bg-img-3 min-h-screen md:min-h-[900px]">
  <div class="flex flex-col mx-auto max-w-3xl gap-4">
    <img class="mx-auto w-1/2" src="{% static 'img/pycon.png' %}" alt="Pycon PH 2025" />
    <div class="flex flex-col md:flex-row justify-center items-center lg:gap-y-8 md:gap-x-8 text-3xl text-center">
      {% if page.ticket_link %}
        <a href="{{ page.ticket_link }}" class="text-amber-500">
          Get Tickets
        </a>
      {% endif %}

      {% if page.sponsor_link %}
        <a href="{{ page.sponsor_link }}" class="text-lime-900">
          Become a Sponsor
        </a>
      {% endif %}
    </div>
    <div class="pb-50">
      <p class="text-16 text-center mx-auto">
          Message us at pycon@python.ph for questions and inquiries
      </p>
      {% include "socials.html" %}
      <p class="text-center text-14">
      This site is built using <a class="underline" href="https://www.djangoproject.com/">Django</a> and
      <a class="underline" href="https://wagtail.org/">Wagtail</a>.
      </p>
    </div>
  <div>
</footer>
