{% load static %}

<ul class="flex justify-center my-10 gap-4">
    <a href="https://discord.gg/nuWfkhR4vM" class="no-underline" target="_blank">
        <img class="social-icon w-6" src="{% static 'img/icon/icon-discord.svg' %}" alt="discord" />
    </a>
    <a href="https://www.facebook.com/pyconph" class="no-underline" target="_blank">
        <img class="social-icon w-6" src="{% static 'img/icon/icon-facebook.svg' %}" alt="facebook" />
    </a>
    <a href="https://github.com/pythonph" class="no-underline" target="_blank">
        <img class="social-icon w-6" src="{% static 'img/icon/icon-github.svg' %}" alt="github" />
    </a>
    <a href="https://twitter.com/pyconph" class="no-underline" target="_blank">
        <img class="social-icon w-6" src="{% static 'img/icon/icon-twitter.svg' %}" alt="twitter" />
    </a>
    <a href="https://www.instagram.com/pythonph/" class="no-underline" target="_blank">
        <img class="social-icon w-6" src="{% static 'img/icon/icon-instagram.svg' %}" alt="instagram" />
    </a>
</ul>

